body{
    font-family: 'Baloo Bhaina 2', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url("gym.jpg");
    
   
    
}
.left{
    border: 2px solid rgb(240, 41, 41);
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 20px;

}
.mid{
    display: block;
    border: 2px solid green;
    width: 33%;
    margin:20px auto;

}
.right{
    border: 2px solid yellow;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 20px;


}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
   
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 1px 13px;
}
.navbar li a:hover,.navbar li a.Active{
    text-decoration: underline;
    color:grey;
}
.left img{
    width: 93px;
    filter: invert(100%);
}
.line{
    font-size: 20px;
    line-height: 6px;
    text-align: center;
}
.btn{
    font-family: 'Baloo Bhaina 2', cursive;
    margin: 10px;
    background-color: black;
    color: white;
    padding: 1px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
background-color: grey;
}
