body{
    font-family: 'Baloo Bhaina 2', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url("gym.jpg");
    
   
    
}
.left{
    
    display: inline-block;
    position: absolute;
    left: 37px;
    top: 4px;

}
.mid{
    display: block;
    
    width: 33%;
    margin:20px auto;

}
.right{
    
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 28px;


}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
   
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 1px 13px;
}
.navbar li a:hover,.navbar li a.Active{
    text-decoration: underline;
    color:grey;
}
.left img{
    width: 93px;
    filter: invert(100%);
}
.line{
    font-size: 20px;
    line-height: 6px;
    text-align: center;
}
.btn{
    font-family: 'Baloo Bhaina 2', cursive;
    margin: 10px;
    background-color: black;
    color: white;
    padding: 1px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
background-color: grey;
}
.container{
    width: 29%;
    margin: 119px 80px;
    padding: 23px;
    border-radius: 10px;
    border: 2px solid white;
}
.formgroup input{
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: left;
    display: block;
    width: 368px;
    border: 2px solid black;
    margin: 3px auto;
    font-size: 16px;
    border-radius: 10px;
}
.container h1{
    text-align: center;

}
.container button{
    display: block;
    width: 77px;
    margin: 29px auto
}
